

body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.5;
}

.container-fluid{
  padding: 5% 10%;
}

.colored-section{
    color: #fff;
    background-color: #726a95;
}
.white-section{
background-color: #fff;
}
/* SECTION "TITLE" */


.introduction{
  font-family: 'Dancing Script', cursive;
  font-weight: 900;
  font-size: 5rem;
}



/* SECTION "ABOUT" */


.intro-text{
  margin-top: 5%;
  text-align: left;
}

.education-link{
color: black;
text-decoration: underline;
}

/* SUB-SECTION "SKILLS" */
.skills.row{
  padding: 5%;
  text-align: left;
}


.work-link{
  color: #fff;
  text-decoration: underline;
}
/* SECTION "PROJECTS" */
.projects-column{
  padding: 3% 2%;
}


/* CONTACT */

.social-icon{
  padding: 1%;
  padding-bottom: 3%;

}

a{
  color: #fff;
}
/*///////////////// IMAGES/////////////////////////////////////////////////// */

.icon-image{
width: 70%;
}

.profile-img{
width: 70%;
}
.programming-img{
width: 70%;
}

.leadership-img{
margin-left: 10%;
  width: 100%;
}
.projects-img{
width: 30%;
}

@media (max-width: 900px ) {
.icon-image{
  padding: 0;
  margin: 0;
  text-align: left;
}
.leadership-img{
  margin-left: 0;
}
.projects-img{
  width: 70%;
}
}
